@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
}

/* HEADER STYLES */

header {
  width: 100%;
  height: 60px;
  background: #EFF3F5;
}

/* MAIN STYLES */

.container-info {
  width: 100%;
  height: 500px;
  background: #EFF3F5;
  margin-top: 20px;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  padding: 0px 20px;
  margin: auto;
  margin-top: 20px;
}

.container-cards .box-card {
  width: 200px;
  height: 250px;
  background: #EFF3F5;
  margin: 20px;
}

/* FOOTER STYLES */

footer {
  width: 100%;
  padding: 50px 0px;
  background-image: url(../img/background-footer.svg);
  background-size: cover;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box-footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box-footer .logo-footer img {
  width: 100px;
}

.box-footer .info-footer {
  max-width: 350px;
  margin-top: 20px;
  color: #7a7a7a;
  font-size: 18px;
}

.box-footer h2 {
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;
}

.box-footer a {
  margin-top: 10px;
  color: #7a7a7a;
}

.box-footer a:hover {
  opacity: 0.8;
}

.box-footer a .fab {
  font-size: 20px;
}

.box-copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0 40px;
}

.box-copyright p {
  margin-top: 20px;
  color: #7a7a7a;
}

.box-copyright hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}
